
*{
  box-sizing: border-box;

 
}

body{

  background-color: rgb(244, 201, 110);

}


.wrapper{

max-width: 1200px;
max-height: 100vh;
width: 1000px;
height: 580px;
background-color:white;
margin: 5% auto;
display: flex;
padding: 0%;

}

.nav-1{

width: 42%;
height: 100%;
background-color:rgb(69, 76, 76);


}

.nav-2{
  width: 58%;
  height: 600px;
  padding: 25px 30px;


}

.tekst{

   line-height: 25px; 
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   height: 450px;
   font-size: 18px;
  
}

.content{
padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;

 }
 .div-2{
margin: 0% 10px;
display: flex;
justify-content: space-evenly;

padding-right: 20px;


 }

.navbar{

 color: white;
 padding:40px 40px;
 line-height: 10px;
 

}
.T{
font-size: 25px;
}


.navbar::after{

  content: '';
  position: absolute;
  height: 0.5px;
  width: 10px;
  color: coral;
  padding: 0% 40px;
  border: 0.5px solid coral; 

}


.title{

  font-size: 40px;
}

.img{
height: 10px;
  display: flex;
  justify-content: space-between;
margin: 115% 5%;
padding-right: 100px;
}

.img img{

  border-radius: 50%;
}




























